## Project Description

This project will helps us to understand how a real-world database is analyzed using SQL, how to get maximum available insights from the dataset, pre-process the data using python for a better upcoming performance, how a structured query language helps us retrieve useful information from the database

## About the Project

In this project, you will be working on a real-world dataset of the google play store, one of the most used applications for downloading android apps. This project aims on cleaning the dataset, analyze the given dataset, and mining informational quality insights. This project also involves visualizing the data to better and easily understand trends and different categories.

## About the Dataset

For the sake of the project we were provided with 2 datasets:
1. playstore_apps dataset
2. playstore_reviews dataset

Both the dataset had premilinary level of cleaning in which duplicated were dropped and we used this dataset to work further

In [1]:
# Importing necessary libraries
import numpy as np
import pandas as pd

### Preprocessing playstore_apps dataset

In [2]:
#Reading the cleanesed playstore_apps data
df=pd.read_csv("cleaned_apps.csv")
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159.0,19M,10000.0,Free,0.0,Everyone,Art & Design,2018-01-07,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967.0,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,2018-01-15,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510.0,8.7M,5000000.0,Free,0.0,Everyone,Art & Design,2018-08-01,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644.0,25M,50000000.0,Free,0.0,Teen,Art & Design,2018-06-08,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967.0,2.8M,100000.0,Free,0.0,Everyone,Art & Design;Creativity,2018-06-20,1.1,4.4 and up

In [3]:
#Shape of the data
df.shape

(10348, 13)

In [4]:
#Knowledge about data types of different columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10348 entries, 0 to 10347
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10347 non-null  object
 1   Category        10347 non-null  object
 2   Rating          10347 non-null  float64
 3   Reviews         10347 non-null  float64
 4   Size            10347 non-null  object
 5   Installs        10347 non-null  float64
 6   Type            10347 non-null  object
 7   Price           10347 non-null  float64
 8   Content Rating  10347 non-null  object
 9   Genres          10347 non-null  object
 10  Last Updated    10347 non-null  object
 11  Current Ver     10339 non-null  object
 12  Android Ver     10345 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.0+ MB

In [5]:
#Finding null values in the data set
df.isnull().sum()

App               1
Category          1
Rating            1
Reviews           1
Size              1
Installs          1
Type              1
Price             1
Content Rating    1
Genres            1
Last Updated      1
Current Ver       9
Android Ver       3
dtype: int64

We observed that there were some null values in various columns.Since this is less than the data at hand we drop these rows/

In [6]:
#Dropping null values
df.dropna(inplace=True)

Also there were some unwanted special characters in the Name of the App which needs to be removed so that the machine does not interpret as otherwise.For example ',' is a delimiter in MySQL interface. So we remove special characters as deemed fit

In [7]:
#Removing special strings characters
df['App'] = df['App'].replace(r'[^\w\s]|_.', '', regex=True)

In [9]:
#Final Shape of the data
df.shape

(10337, 13)

In [17]:
#Creating finally precossed csv file that can be loaded to SQL
df.to_csv('Final_Cleaned_Apps.csv')

### Preprocessing playstore_reviews dataset

In [11]:
#Reading the Cleansened playstore_reviews dataset
df1=pd.read_csv('cleaned_reviews.csv')
df1.head()

,Translated_Review,App,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,I like eat delicious food. That's I'm cooking ...,10 Best Foods for You,Positive,1.00,0.533333
1,This help eating healthy exercise regular basis,10 Best Foods for You,Positive,0.25,0.288462
2,Works great especially going grocery store,10 Best Foods for You,Positive,0.40,0.875000
3,Best idea us,10 Best Foods for You,Positive,1.00,0.300000
4,Best way,10 Best Foods for You,Positive,1.00,0.300000

In [12]:
#Shape of the data
df1.shape

(37427, 5)

In [13]:
#Knowledge about data types of different columns
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37427 entries, 0 to 37426
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Translated_Review       37427 non-null  object
 1   App                     37427 non-null  object
 2   Sentiment               37427 non-null  object
 3   Sentiment_Polarity      37427 non-null  float64
 4   Sentiment_Subjectivity  37427 non-null  float64
dtypes: float64(2), object(3)
memory usage: 1.4+ MB

In [14]:
#Finding null values in the data set
df1.isnull().sum()

Translated_Review         0
App                       0
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

This Dataset contains no null values.

As in the previous dataset we found presece of unwanted special characters in the Translated_Review columns which we  removed so that the machine does not interpret as otherwise.

In [15]:
#Removing special strings characters
df1.Translated_Review=df1.Translated_Review.replace(r'[^0-9a-zA-Z. ]', '', regex=True).replace("'", '')

In [16]:
#Creating finally precossed csv file that can be loaded to SQL
df1.to_csv('Final_Cleaned_Reviews.csv')